@(cats: List[models.Cat])(implicit messages: Messages)
@import helper._

@main("Cats catalog") {

<h1>@cats.size cats(s)</h1>

<ul>
    @cats.map { cat =>
    <li>
        @cat.name
        @cat.color
        @cat.race
        @cat.gender
        <p></p>
        <a href="@routes.Application.deleteCat(cat.id.get)"
           class="btn btn-sm" onclick="return confirm('are you sure you want to delete this cat?');">Delete</a>

        @form(routes.Application.editCat(cat.id.get)) {
            <input type="submit" value="Edit">
        }
    </li>
    }
</ul>

<h2>Add a new Cat</h2>
    @form(routes.Application.createCat) {
        <input type="submit" value="Add a new cat">
    }
}
